<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        stopOnFailure="false"
        bootstrap="app/webroot/phpunit-bootstrap.php"
>
    <php>
        <env name="TEST" value="SUITE"/>
    </php>
    <testsuites>
        <testsuite name="unittest">
            <directory>app/Test/Case/Model</directory>
        </testsuite>
    </testsuites>
</phpunit>